						<!-- Footer -->
                        <section id="footer">
                            <ul class="icons">
                                <li><a href="#" class="fa-brands fa-linkedin"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="fa-brands fa-youtube"><span class="label">Youtube</span></a></li>
                                <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
                                <li><a href="oussous-a@outlook.fr" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                            </ul>
                            <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
                        </section>

                </section>

        </div>