						<!-- Footer -->
                        <section id="footer">
                            <ul class="icons">
                                <li><a href="{{path('linkedin')}}" class="fa-brands fa-linkedin"><span class="label">Facebook</span></a></li>
                                <li><a href="{{path('youtube')}}" class="fa-brands fa-youtube"><span class="label">Youtube</span></a></li>
                                <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
                            </ul>
                            <p class="copyright">Abdelhadi Oussous - Copyright &copy; 2022</p>
                        </section>

                </section>

        </div>