{% extends "base.html.twig" %}
{% block title %}
    Modifier un article
{% endblock title %}

{% block body %}
<div id="main">
    <h1>Modifier un article</h1>
    {{ form_start(form) }}
    {% include "form/form.html.twig" %}
    <br>
    <button  class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}
</div>
{% endblock body %}